:root {
  --primary-black: #333;
  --secondary-color: #666;
  --background-color: #f0f0f0;
  --text-color: #333;
  --akcent-color: #98e674;
  --discent-color: rgba(0, 0, 0, 0.33);

  /* text canvas */
  --text-canvas-width: 300px;
  --text-canvas-height: calc(var(text-canvas-width) * 20.5/16.5); /*формат листа foolio/2*/

  /* webgl canvas */
  --webgl-canvas-width: 600px;
  --webgl-canvas-height: calc(var(--webgl-canvas-width) * 4/3); 
}

.dark-theme {
  --secondary-color: #666;
  --background-color: #222;
  --text-color: #fff;
}

.page {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: var(--background-color);
  color: var(--text-color);
}

.app__content{
  width: clamp(800px, 1440px, 100%);
  display: block;
  margin: auto;
  box-sizing: border-box;
  padding: 0 5% 0 5%;
}

.app__title{
  text-align: center;
}

.app__options{
  box-sizing: border-box;
  width: 100%;
}

.label {
  display: block;
  padding-bottom: 15px;
}

.fieldset{
  border: 1px solid var(--discent-color);
  border-radius: 5px;
}

.fieldset > .label:first-of-type{
  padding-top: 15px;
}

.render-options__btn-container{
  width: 350px;
  margin: 25px auto;
  display: flex;
  justify-content: space-between;
}

.render-options__button{
  width: 150px;
  height: 35px;
  background-color: var(--akcent-color);
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid var(--discent-color);
}

.render-options__button--disabled{
  background-color: var(--secondary-color);
  cursor: not-allowed;
}

.progress-bar{
  width: 100%;
  height: 20px;
  background-color: var(--discent-color)
}

.progress-bar__fill{
  transition: width 0.25s ease-in-out;
  overflow: hidden;
  position: relative;
  width: 0%;
  height: 100%;
  background-color: var(--akcent-color);
}

.progress-bar__percent{
  color: var(--primary-black);
  font-weight: bold;
  line-height: 20px;
  position: absolute;
  right: calc(50% - 30px);
}

.render-options__code{
  display: inline-block;
  padding: 2px;
  background-color: var(--discent-color);
  color: var(--akcent-color);
}

.p5-sketch-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.p5-context-2d > canvas {
  width: var(--text-canvas-width) !important;
  height: var(--text-canvas-height) !important;
}

.p5-context-webgl > canvas {
  width: var(--webgl-canvas-width) !important;
  height: var(--webgl-canvas-height) !important;
}